:root{
   --teal: #22eea0;
   --teal_hover: #22eea0;
}

.h-font{
    font-family: "Pacifico", cursive;
   }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type=number]{
   -moz-appearance: textfield;
}
.custom-bg{
   background-color: var(--teal);
   border: 1px solid var(--teal);
}
.custom-bg:hover{
   background-color: var(--teal_hover);
   border-color: var(--teal_hover);
}
.h-line{
   width: 150px;
   margin: 0 auto;
   height: 1.7px;
}
.custom-alert{
   position: fixed;
   top: 25px;
   right: 25px;
}
#dashboard-menu{
   position: fixed;
   height: 100vh; /* Full viewport height */
   top: 0; /* Start at the top */
   left: 0; /* Align to the left */
   width: 250px; /* Set width for a consistent sidebar */
   overflow-y: auto; /* Optional: Add scrolling for long content */
   background-color: #343a40; /* Ensure a consistent dark background */
}
#main-content {
   margin-left: 250px; /* Same as sidebar width */
   padding: 20px; /* Optional for spacing */
}
@media screen and (max-width: 992px) {
   #dashboard-menu {
      position: static; /* Allow the sidebar to stack */
      height: auto; /* Adjust height to content */
      width: 100%; /* Full width for smaller screens */
   }
   #main-content {
      margin-left: 0; /* Reset margin */
      margin-top: 60px; /* Avoid overlap with sticky header */
   }
}